<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login OpenBook</title>
    {% load static %}
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link href="{% static 'css/auth.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <main>
      <div class="page">
        <div class="header">
          <h1 class="logo">OpenBook</h1>

          {% if message %}
          <p style="color: red">{{ message }}</p>
          {% else %}
          <p>Sign up to see photos and videos from your friends.</p>
          {% endif %}
          <button>
            <i class="fab fa-facebook-square"></i> Log in with Google
          </button>
          <div>
            <hr />
            <p>OR</p>
            <hr />
          </div>
        </div>
        <div class="container">
          <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" />
            <input type="text" placeholder="Email" name="email" />
            <input type="password" placeholder="Password" name="password" />
            <input
              type="password"
              placeholder="Confirm Password"
              name="confirmation"
            />
            <button type="submit">Sign up</button>
          </form>
        </div>
      </div>
      <div class="option">
        <p>Have an account? <a href="{% url 'login' %}">Log in</a></p>
      </div>
      <div class="footer">
        <p>© 2022</p>
      </div>
    </main>
    <!-- partial -->
  </body>
</html>
