.spacer > * ~ * {
    margin-top: 8px;
    }
    .products {
    margin: 1.1rem auto;
    }
    .products_item {
    border: 2px solid #f0f0f0;
    box-shadow: 2px 2px 8px #f0f0f0;
    margin: inherit;
    padding: 12px;
    width: 380px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #ffffff;
    }
    .products_item_label {
    color: #2b2b2b;
    }
 
 .ff {
   border: none;
   outline: 0;
   padding: 12px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }
 .ff:hover {
   opacity: 0.7;
 }