{% extends "base2.html" %}
{% block body %}

<br>
<h2>{% block title %}Book Details{% endblock %}</h2>
<br> <br>
<div class="grid-container">
<section class="products">
   <div class="products_item spacer">
   <div class="product_item_image">
      <img src="{{b.ImageLink}}" style=  "  width:400px;
      height:300px;">
   </div>
   <div class="products_item_label">
      <h3>{{b.name}}</h3>
      <h4>By {{b.author}}</h4>
      <h5>Donated By: {{b.user}}</h5>
      <h5>Book id: {{b.id}}</h5>
   </div>
</section>
<br>
<div >
   <h3>Review of this Book</h3>
   <br><br>
   {% for re in rev %}

   <h4>{{re.user.username}}: {{re.comment}}</h4>
   <br>
   {% endfor %}
   <form action="{% url 'AddReview' b.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input
          autofocus
          class="form-control"
          type="text"
          name="comment"
          placeholder="Review"
        />
      </div>
      <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>
</div>
</div>
{% endblock %}