<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllbookList</title>
</head>
<body>
<center>
    <h2>All Book List</h2>


    <ul>
        {% for book in books %}
        <li>Book id: {{book.id}}</li>
        <li>Donated By: {{book.user.username}}</li>
        <li>Book name: {{book.name}}</li>
        <li>Book Author: {{book.author}}</li>
        <br><br>
        {% endfor %}


    </ul>
    <a class="nav-link" href="{% url 'donatebook' %}">Donate Boook</a>
</center>

</body> 
</html>