{% extends "base.html" %} 

{% block body %} 
{% block title %}View Book Store{% endblock %}
<center>
    <br>
    <h2>All Book List</h2>

    <form action="{% url 'viewbook' %}" method="get">
        <input name="q"  placeholder="Search...">
        <button type="submit">Search</button>
      </form>


    
        {% for book in books %}
        
        <!-- <li>Book id: {{book.id}}</li>
        <li>Donated By: {{book.user}}</li> -->

            <a href="{% url 'book_details' book.id %}" >

        <li>Book name: {{book.name}}</li>
    </a>
        <li>Book Author: {{book.author}}</li>
    


        <br><br>
        {% endfor %}


  
    <a class="nav-link" href="{% url 'donatebook' %}">Donate Boook</a>
</center>



{% endblock %}