<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    <center>
    
    <ul>
        
        <li>Book id: {{b.id}}</li>
        <li>Donated By: {{b.user}}</li>
        <li>Book name: {{b.name}}</li>
        <li>Book Author: {{b.author}}</li>
        <br><br>
      


    </ul>
</center>
</body>
</html>