{% extends "base.html" %} 

{% block body %} 
{% block title %}Donate Book{% endblock %}



  <center>
    <br> <br>
    <h2>DonateBook</h2>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <form action="{% url 'donatebook' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input
            autofocus
            class="form-control"
            type="text"
            name="bookname"
            placeholder="bookname"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="author"
            placeholder="author"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="url"
            placeholder="Image url"
          />
        </div>
        <input class="btn btn-primary" type="submit" value="donatebook" />
      </form>
      <a class="nav-link" href="{% url 'viewbook' %}">View all book</a>
    </center>


{% endblock %}