{% extends "base2.html" %} 

{% block body %} 
<h2>{% block title %}Donate Book{% endblock %}</h2>

  <center>
    <br> <br>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <form action="{% url 'donatebook' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input
            autofocus
            class="form-control"
            type="text"
            name="bookname"
            placeholder="bookname"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="author"
            placeholder="author"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="url"
            placeholder="Image url"
          />
        </div>
        <input class="btn btn-primary" type="submit" value="Donate" />
      </form>
    </center>


{% endblock %}