<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <center>

    <h2>Profile</h2>
 

    <h1>hello {{request.user.username}} You donated these Book</h1>

    <ul>
        {% for book in donatedbook %}
        <p>Delete </p>
        <li>Book id: {{book.id}}</li>
        <li>Book name: {{book.name}}</li>
        <li>Book Author: {{book.author}}</li>
        <li>Book Status: {{book.status}}</li>
        <br><br>
        {% endfor %}


    </ul>

    <h1>You lended these Book</h1>

    <ul>
        {% for lbbook in lb %}
        <a href="{% url 'returnbook' lbbook.book.id %}" >Return this Book</a>
        <li>lend id: {{lbbook.id}}</li>
        <li>Book id: {{lbbook.book.id}}</li>
        <li>Book name: {{lbbook.book.name}}</li>
        <li>Book Author: {{lbbook.book.author}}</li>
        <li>Book Owner: {{lbbook.book.user.username}}</li>
        <li>Book Status : {{lbbook.book.status}}</li>
        <br><br>
        {% endfor %}


    </ul>
</center>

   
</body>
</html>